#top-horizontal-ad {
    margin-top: 8px;
    height: 100px;
    background: #777;
    vertical-align: center;
    text-align: center;
    color: var(--background);
    font-size: 48px;
    line-height: 100px;
}