#article-title {

}

#article-author {
    color: var(--on-background);
    font-weight: 500;
    font-size: 16px;
}

#article-published {
    color: var(--on-background-inaccent);
    font-size: 14px;
}

#article-title {
    color: var(--on-background-accent);
    font-size: 24px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 8px;
}

#article-content {
    color: var(--on-background);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}

#article-carma {
    margin-right: 24px;
}

#article-carma-value {
    margin: 0 8px;
    color: var(--on-background-inaccent);
}

#article-carma i {
    font-size: 18px;
    cursor: pointer;
}

#article-views {
    margin-right: 24px;
}

#article-views-value {
    margin: 0 8px;
    color: var(--on-background-inaccent);
}

#article-share {
    cursor: pointer;
}