:root {
    --primary: #377cfd;
    --background: #fff;
    --on-background-accent: #333;
    --on-background: #444;
    --on-background-inaccent: #999;
    --background-primary: #377cfd;
    --on-background-primary: #fff;
    --background-secondary: #f0f0f0;
}

:root.dark {
    --primary: #B0DCFF;
    --background: #171717;
    --on-background-accent: #eee;
    --on-background: #ddd;
    --on-background-inaccent: #999;
    --background-primary: #377cfd;
    --on-background-primary: #fff;
    --background-secondary: #0f0f0f;
}

:root * {
    transition: background 0.1s, color 0.1s;
}