body, html {
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    background: var(--background-secondary);
    color: var(--on-background);
}

.page-width {
    width: 100%;
    max-width: 768px;
    margin: auto;
}

div {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

:root.desktop .mobile {
    display: none!important;
}

:root.desktop .mobile-adaptive {
    display: flex;
    flex-direction: row;
    align-items: center;
}

:root.mobile .desktop {
    display: none!important;;
}

:root.mobile .mobile-adaptive {
    display: flex;
    flex-direction: column;
}

:root.dark .light-theme {
    display: none;
}

:root:not(.dark) .dark-theme {
    display: none;
}

body.noscroll{
    position:fixed;
    overflow:hidden;
}